.mainContainer {
    display: flex;
    flex-direction: column;
    background-color: #1c1c21;
    padding: 1rem 0;
}

.container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    flex-direction: row;
    position: relative;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}

.orderContainer {
    display: flex;
    gap: 3rem;
    flex-direction: row;
}

.Logo {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

@media (max-width: 400px) {
    .container {
        justify-content: end;
        flex-direction: row;
        align-items: center;
        gap: 3rem;
        margin-top: 5rem;
    }

}