.mainContainer {
    display: flex;
    flex-direction: column;
}

.container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    flex-direction: row;
}

a {
    color: white;
    text-decoration: none;
}

.orderContainer {
    display: flex;
    gap: 3rem;
    flex-direction: row;
}

.Logo {
    padding-top: 1rem;
    width: auto;
}

@media (max-width: 400px) {
    .container {
        width: 100%;
        flex-direction: column;
    }

}