.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    margin-top: 17%;
}

.list {
    overflow-y: scroll;
    min-height: 410px;
    max-height: 410px;
}

.ingredient {
    display: flex;
}

.topSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    width: 90%;
    padding-bottom: 0.9rem;
}

.orderButton {
    position: relative;
    cursor: pointer;
}