.container {
    margin: 3rem;
    width: 100%;
    justify-items: start;
}

.tab {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.text {
    margin: 1rem 0;
}

.ingredients {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    max-height: 375px;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: start;
    padding-top: 2rem;
    gap: 1rem;
}

@media (max-width: 400px) {
    .container {
        transform: scale(0.9);
        padding-top: 2rem;
        margin: 0;
        justify-items: center;
        width: 100%;
    }

    .tab {
        flex-direction: column;
    }

    .ingredients {
        overflow-x: hidden;
        width: 100%;
        max-height: 350px;
    }
}